<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      >
    <head th:replace="layout/plantilla :: head">
        <title>Inicio</title>
    </head>
                    <body>
                        <header th:replace="layout/plantilla :: header"></header>
                        
                        <h2 sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/agregar}">[[#{persona.crear}]]</a></h2>

                        <div th:if="${personas != null and !personas.empty}">
                            <table class="table">

                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">[[#{persona.nombre}]]</th>
                                        <th scope="col">[[#{persona.apellido}]]</th>
                                        <th scope="col">[[#{persona.email}]]</th>
                                        <th scope="col">[[#{persona.telefono}]]</th>
                                        <th sec:authorize="hasRole('ROLE_ADMIN')" scope="col">[[#{accion.editar}]]</th>
                                        <th sec:authorize="hasRole('ROLE_ADMIN')" scope="col">[[#{accion.eliminar}]]</th>
                                    </tr>
                                </thead>


                                <tr th:each="persona : ${personas}">
                                    <td th:text = "${persona.nombre}">Nombre</td>
                                    <td th:text = "${persona.apellido}">Apellido</td>
                                    <td th:text = "${persona.email}">Email</td>
                                    <td th:text = "${persona.telefono}">Telefono</td>
                                    <td> <a sec:authorize="hasRole('ROLE_ADMIN')" th:href = "@{/editar/} + ${persona.idPersona}" th:text="#{accion.editar}"></a></td>
                                    <td> <a sec:authorize="hasRole('ROLE_ADMIN')" th:href = "@{/eliminar(idPersona=${persona.idPersona})}" th:text="#{accion.eliminar}"></a></td>
                                </tr>
                            </table>
                        </div>

                        <div th:if="${personas == null or personas.empty}">
                            <p>[[#{persona.lista.vacia}]]</p>
                        </div>
                        
                        
                        <footer th:replace="layout/plantilla :: footer"></footer>
                    </body>
                    </html>


