<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/plantilla :: head">
        <title>Datos de la persona</title>
    </head>
    <body class="container">
        <header th:replace="layout/plantilla :: header"></header>
        <h2>[[#{persona.formulario}]]</h2>
        <h3><a th:href="@{/}">[[#{accion.regresar}]]</a></h3>

        <br/>

        <div class="row">
            <div class="col-sm-4">
                <form th:action="@{/guardar}" method="post" th:object="${persona}">
                    <input type="hidden" name="idPersona" th:field="*{idPersona}">
                        <div class="form-group">
                            <label for="nombre">[[#{persona.nombre}]]: </label>
                            <input class="form-control" type="text" name="nombre" th:field="*{nombre}">
                                <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error Nombre</span>
                        </div>

                        <div class="form-group">
                            <label for="apellido">[[#{persona.apellido}]]: </label>
                            <input class="form-control" type="text" name="apellido" th:field="*{apellido}">
                                <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{nombre}">Error Apellido</span>
                        </div>

                        <div class="form-group">
                            <label for="email">[[#{persona.email}]]: </label>
                            <input class="form-control" type="email" name="email" th:field="*{email}">
                                <span th:if="${#fields.hasErrors('email')}" th:errors="*{nombre}">Error Email</span>
                        </div>

                        <div class="form-group">
                            <label for="telefono">[[#{persona.telefono}]]: </label>
                            <input class="form-control" type="tel" name="telefono" th:field="*{telefono}">
                        </div>

                        <input type="submit" name="guardar" th:value="#{accion.guardar}"/>
                </form>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
